<div class="form-group">
  <label for="amount">Amount</label>
  <input type="number"
  (keydown)="updateBillAmount(amountInput)"
  #amountInput
  class="form-control">
  </div>



  <div class="btn-group"
  role="group"
  aria-label="Basic example">
  <button type="button" (click)="changeTipPercentage(.1)"
  [disabled]="tipPercentage === .1"
  class="btn btn-primary">10%</button>
  <button type="button" (click)="changeTipPercentage(.15)"
  [disabled]="tipPercentage === .15"
  class="btn btn-primary">15%</button>
  <button type="button" (click)="changeTipPercentage(.2)"
  class="btn btn-primary"
  [disabled]="tipPercentage === .2">20%</button>
  <button type="button" (click)="changeTipPercentage(.25)"
  [disabled]="tipPercentage === .25"
  class="btn btn-primary">25%</button>
  </div>
  <ul class="list-group">
  <li class="list-group-item">Bill Amount: {{billAmount | currency}}</li>
  <li class="list-group-item">Tip Percentage: {{tipPercentage | percent}}</li>
  <li class="list-group-item">Tip Amount: {{tipAmount | currency}}</li>
  <li class="list-group-item">Total To Be Paid: {{totalTobePaid | currency}}</li>
  </ul>
